* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    background-color: rgba(255, 255, 255, 0);
    color:black;
    border: none;
}

input {
    border: solid 1px var(--outer-border-color);
    border-radius: 5px;
}

button {
    cursor: pointer;
}


div{
    --chart-side-width: 150px;
    --inner-border-color: rgb(211, 211, 211);
    --outer-border-color: rgb(138, 138, 138);
}

.App {
    height: 100vh;
    background-color: rgb(255, 235, 184);
    overflow-y: hidden;
    display: flex;

}

.pageContent{
    display: flex;
    justify-content: center;
    height: 100vh;
    width: 100%;
    top: 0px;
    overflow: auto;
    padding: 10px;
    scroll-behavior: smooth;
}