*,
*:before,
*:after{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

div{
    --chart-side-width: 150px;
    --inner-border-color: rgb(211, 211, 211);
    --outer-border-color: rgb(138, 138, 138);
}

body {
    height: 100vh;
    display: -ms-grid;
    display: grid;
    background-color: rgb(255, 235, 184);
    place-items: center;
}