.postDetails {
    display: grid;
    flex-direction: column;
    width: 95vmin;
}

.postBody input {
    height: 30px;
}

.postDetails input[type=text], input[type=number]{
    background-color: rgb(255, 255, 255);
}
.postDetails button{

}

.title {
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 10px 10px 10px 15px;
    font: 4em sans-serif;
    width: 95vmin;
    height: 80px;
    border-bottom: solid 3px var(--outer-border-color);
    border-radius: 10px;
}

.image {
    width: 95vmin;
    height: auto;
    margin-bottom: 20px;
    border-radius: 20px;
}

.imageInput {
    margin-bottom: 20px;
}

.submit {
    float: right;
}

.form {
    padding-bottom: 40px;

}