.post{
    display: grid;
    grid-template-columns: 100px 200px 30px;
    /* width: 300px; */
    height: 80px;
}
.imgContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 70px;
    overflow:hidden;
}
.imgContainer img{
    height: 70px;
    width: auto;
}

.title{
    padding-left: 15px;
    padding-top: 15px;
}

.removeBtn button{
    position:relative;
    right: 5px;
    top: 5px;
    width: 25px;
    height: 25px;
}
