.post{
    display: grid;
    grid-template-columns: 100px 200px 10px;
    height: 80px;
}
.imgContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 70px;
    overflow:hidden;
}
.imgContainer img{
    height: 70px;
    width: auto;
}

.title{
    padding-left: 15px;
    padding-top: 15px;
}

.removeBtn{

}
