.post{
    display: grid;
    grid-template-columns: 100px 1fr;
    height: 80px;
}
.imgContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 70px;
    overflow:hidden;
}
.imgContainer img{
    height: 70px;
    width: auto;
}