.component {
    display: grid;
    grid-template-columns: 1fr 70px;
    position: relative;
    height: 30px;
    width: 95vmin;
    background-color: transparent;
    padding: 50px, 40px, 20px, 40px;
}
.contents {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-radius: 5px;
}

.rmvBtn {
    position: relative;
    width: 100%;
    height: 100%;
}
.compName {
    padding: 5px;
    width: 100%;
}